body{
    background-image: url(photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;


}

#navegador ul{

    text-align: center;
}
#navegador li{



    display: inline;
    text-align: center;
}
#navegador li a {
    padding: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    
    background-color:pink;
    color: blue;
    border-radius: 30px;
}
#navegador li a:hover{
    color: beige;
    background-color:fuchsia;
}

h1{
    
    text-align: center;
  
}
h3{
    
    text-align: center;
    
    color:deeppink;
}
h4{
   
    text-align: center;
    
    color: rgb(236, 10, 82);
}
 ul{
    
    text-align: center;
   
    color: deeppink;}
#correccion{
    border-radius: 30px;
    color: black;
    background-color:lightpink;
    margin: 15px;
    padding: 30px;

}

}
#derechodeautor{
    
    padding: 5%;
    border-top-left-radius:30px ;
    border-top-right-radius: 30px;
    background-color: white;
}

#derechodeautor p.right{
    display: inline;
    float: left;
    background-color: white;
   

}
#derechodeautor p.left{
    display: inline;
    background-color: white;
    float: right;
}